/* used colors are: #222 #eee*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

div {
    margin-bottom: 0.25em;
}
/* margin determines spacing between elements */

.primary-box {
    background: #222;
}

.secondary-box {
    background: #eee;
    color: black;
}